build/
*.zip
target/
.DS_Store
.idea/
.vscode/
.mplconfig/
**/.DS_Store
**/.mplconfig/
AI4DBCode-master/
offline_workload.txt
loadtable/
loadtable/tpch/tpch-dbgen
perf.data
perf.svg
perf.data.old
offlineLoad_tpcc.txt
*.png
*.log
result/*
draw/figs/*
figs/*
draw/timeline/*
*.bin
build*
*.txt
*.data
fsync_bench*
*.tex
*.dvi
*.aux
smallbank_latency_table.md
smallbank_latency_table.tex
fig*.pdf
draw/revison_draw/figs/ablation_bar.pdf
draw/revison_draw/figs/smallbank_latency_table.md
*.pyc
